/* ===== DEFAULT VIEW ===== */
a {
   text-decoration: none;
}

.defaultContainer {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    margin-top: 6rem;
    min-height: calc((100vh - 6rem) - 80px);
    transition: 0.5s;
}

.outletGroupDefault {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem 1rem;
}

.outletDefault {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.outletTitle {
    color: var(--clr-primary-500);
    font-weight: 700;
    font-size: 1rem;
}

.waitingList__title {
    font-weight: 700;
    font-size: 1rem;
}
.waitingList__value {
    font-weight: 500;
    font-size: 2rem;
}

/* === Link To Menu === */
.linkToMenu p{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.linkToMenu a{
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--clr-secondary-200);
    color: var(--clr-neutral-100);
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}
.linkToMenu__button {
    margin: 1rem 1rem;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 485px) {
    .defaultContainer {
        margin-top: 9rem;
    }
    .outletGroupDefault {
        gap: 2rem;
    }
}
@media (max-width: 376px) {
    .outletGroupDefault {
        flex-direction: column;
        gap: 1rem;
    }
}


/* ===== INDEX VIEW ===== */

.indexContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    max-width: 90vw;
    min-height: calc((100vh - 6rem) - 80px);
    text-align: center;
    margin-top: 6rem;
    transition: 0.5s;
}

.headerGroup {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas:
        "orderInfo messageInfo";
    margin: 10px 0;
    align-items: center;
}

.titleGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cancelOrder__btn {
    background-color: #d73006;
    color: whitesmoke;
    padding: .5rem;
    padding: .6rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
.cancelOrder__btn:hover {
    background-color: #f13709;
}

/* === Order Info === */
.orderInfo {
    grid-area: orderInfo;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 270px;
}

.txt-bld-orange {
    color: var(--clr-primary-500);
    font-weight: var(--fw-bold);
    font-size: 1.3rem;
    text-align: start;
}
.infoGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.pInfoGroup {
    color: var(--clr-neutral-500);
    font-weight: var(--fw-bold);
}
.confirm-modal-content span {
    font-size: 1.3rem;
}

.messageInfo {
    grid-area: messageInfo;
    background-color: beige;
    padding: 3rem 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 40px 2fr;
    justify-items: center;
}
.icon-message {
    margin-bottom: 1rem;
}
.message {
    text-align: start;
    font-weight: 600;
    font-size: 1rem;
}

/* === Outlet Group === */
.outletGroup {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    margin-bottom: 1rem;
}
.outlet {
    display: grid;
    grid-template-rows: 1fr 1fr .5fr;
    align-items: center;
    gap: 0rem;
}
.single-tenant {
    grid-template-columns: repeat(1, 2fr);
}

/* Count Down */
.tenant-remaining-time {
    color: var(--clr-primary-500);
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.tenant-remaining-time .countdown {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
}

/* === Outlet Header === */
.outletHeader {
    display: grid;
    grid-template-columns:  3fr 2fr ;
    align-items: center;
}
.headerLeft {
    display: flex;
    flex-direction: column;
}
.tenant {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.tenantName {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--clr-primary-500);
}
.outletWaitingList {
    font-size: 1rem;
    font-weight: 600;
}
.headerRight {
    padding: 0rem .3rem;
}

/* ===== Order Status ===== */
.orderStatus {
    font-size: 1rem;
    font-weight: 600;
    padding: .6rem .5rem;
    background-color: bisque;
    border-radius: 1rem;
}
.orderStatus.pending {
    background-color: #ffcc00;
}
.orderStatus.in.progress {
    background-color: #00ccff;
}
.orderStatus.completed {
    background-color: #39ea39;
}
.orderStatus.cancelled {
    background-color: #ff3300;
}


.outletItem {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    padding: 10px 1rem;
    align-items: center;
}

/* === Outlet Highlight === */
.outletHighlight {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    align-items: center;
    padding: 3px .8rem;
    margin: 0 .5rem;
    gap: .3rem;
    background-color: bisque;
}

.subTotal__title {
    text-align: end;
    font-size: 1rem;
    font-weight: 600;
}
.quantity__title {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.higlightValue {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-primary-500);
}

/* === Order Highlight === */
.orderHighlight {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-top: 4px solid var(--clr-primary-500);
    border-bottom: 4px solid var(--clr-primary-500);
    padding: 1rem 0rem;
    margin: 0rem 0.5rem;
}
.orderHighlight p {
    font-weight: 600;
}
.priceOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orderHighlight__value {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--clr-primary-500);
}

/* === Notes === */
.notes {
    padding: 1rem .5rem;
}
.notes__wrap {
    display: flex;
    gap: .2rem;
    flex-direction: column;
    align-items: flex-start;
}
.notes__wrap p{
    font-size: 1rem;
    font-weight: 600;
}
.notes__wrap span{
    font-size: .8rem;
    text-align: start;
    padding-left: 1rem;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 560px) {
    .outletGroup {
        grid-template-columns: repeat(1, 2fr);
        gap: .5rem;
    }
}
@media (max-width: 485px) {
    .indexContainer {
        margin-top: 9rem;
    }
}
@media (max-width: 450px) {
    .headerGroup {
        grid-template-columns: repeat(1, 2fr);
        grid-template-areas:
            "messageInfo"
            "orderInfo";
        gap: 1rem;
    }
    .messageInfo {
        padding: 2rem 1rem;
    }
    .infoGroup {
        display: grid;
        grid-template-columns: 10rem 2fr;
        align-items: center;
        justify-items: start;
    }
}
@media (max-width: 360px) {
    .txt-bld-orange {
        font-size: 1rem;
    }
}
