/* ===== DEFAULT VIEW ===== */
a {
   text-decoration: none;
}

.defaultContainer {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 100vh;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    margin-top: 6rem;
    transition: 0.5s;
}

.outletGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem 1rem;
}

.outlet {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.outletTitle {
    color: var(--clr-primary-500);
    font-weight: 700;
    font-size: 1rem;
}

.waitingList__title {
    font-weight: 700;
    font-size: 1rem;
}
.waitingList__value {
    font-weight: 500;
    font-size: 2rem;
}

/* === Link To Menu === */
.linkToMenu p{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: .8rem;
}

.linkToMenu a{
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--clr-secondary-200);
    color: var(--clr-neutral-100);
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 485px) {
    .defaultContainer {
        margin-top: 9rem;
    }
    .outletGroup {
        gap: 2rem;
    }
}
@media (max-width: 376px) {
    .outletGroup {
        flex-direction: column;
        gap: 1rem;
    }
}


/* ===== INDEX VIEW ===== */

.indexContainer {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 100vh;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    margin-top: 6rem;
    transition: 0.5s;
}
