/*  ======= Modal ======= */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  background-color: white;
  margin: 6.5rem auto;
  padding: 0 15px;
  border-radius: 30px;
  width: 80%;
  width: 320px;
  height: 535px;
  max-width: 320px;
  transition: 0.5s;
}
.modal-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.close {
  display: flex;
  justify-content: flex-end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  z-index: 5;
}
.close svg:hover,
.close svg:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-left {
	display: flex;
	justify-content: center;
	flex: 1;
	padding: 10px;
    min-height: 289px;
	max-height: 330px;
    max-width: 300px;
    object-fit: cover;
}
.modal-left img {
  width: 100%;
  height: 100%;
  height: auto;
}

.modal-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 0 5px;
}
.modal-right h2 {
	font-size: 1.6rem;
	font-weight: 500;
}
.modal-right .price {
	color: var(--clr-primary-400);
	font-family: var(--ff-base);
	font-weight: 700;
	font-size: 1.8rem;
	margin-bottom: .5rem;
}
.modal-right .desc {
    display: flex;
    align-items: center;
    padding: 0px 8px;
	margin-top: .5rem;
    min-height: 229px;
    max-height: 230px;
    overflow-y: auto;
}
.modal-right p {
	font-size: 1rem;
	text-align: justify;
}

.modal-right .descInfo {
	display: grid;
	grid-template-columns: 2fr 2fr;
	justify-items: start;
}
span .txt_orange {
	font-weight: 700;
}
.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.modal-right .addCart {
	padding: 15px 20px;
	margin: 10px 0;
}
.modal-right .switchView {
  background-color: var(--clr-primary-400);
  border-radius: 20px;
  width: 100px;
  padding: 12px 0px;
  margin: 10px 0;
}
.switchView:hover{
    background-color: var(--clr-primary-500);
}

.table-container {
	display: flex;
	justify-content: center;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	width: 100%;
    margin: 1rem 0;
}
.header {
	color: var(--clr-neutral-100);
	background-color: var(--clr-primary-400);
	padding: 8px;
	text-align: center;
	font-weight: var(--fw-regular);
}
.cell {
	background-color: #EEEEE6;
	padding: 5px 0;
	text-align: center;
	font-size: .8rem;
}


/* ======== RESPONSIVE ========  */
@media (max-width: 468px) {
  .modal-content {
    margin: 8.5rem auto;
    width: 320px;
    height: 520px;
  }
  .modal-left {
    min-height: 280px;
  }
}

@media only screen and (max-width: 375px) {
  .modal-content {
    width: 85%;
    height: 500px;
  }
  .modal-left {
	padding: 10px;
    min-height: 250px;
    min-width: 240px;
  }
  .modalButton {
    gap: .5rem;
  }
  .modal-right .desc {
    min-height: 220px;
    max-height: 220px;
    }
  .modal-right .addCart {
	padding: 15px 12px;
  }
  .modal-right .switchView {
    width: 95px;
    padding: 12px 0px;
  }
}

